
/* LHC logo */
#lhc-logo {
  background-color: #0BACB6;
  padding: 2px 0 5px 5px;
  overflow:hidden;
}
#lhc-logo img {
  height: 35px;
  width: auto;
  margin-bottom: -1px
}


/* Styles for the covid banner */
#covid-banner {
  background-color: #dc3545;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  padding-left: 1em;
  font-size: 14px;
  color: #ffffff;
  list-style-type: disc;
  display: flex;
  margin: 0;
  line-height: 1.15;
}
#covid-banner li {
  padding-left: 0em;
  padding-right: 2em;
}
#covid-banner li:first-child, #covid-banner li:last-child {
  list-style-type: none;
}
#covid-banner li a {
  text-decoration: none;
  color: #ffffff;
}
#covid-banner li a:hover {
  text-decoration: underline;
}
#covid-banner li button {
  cursor: pointer;
  border-radius: 0.8em;
  background-color: #ffffff;
  opacity: 0.5;
  color: #000000;
  text-decoration: none;
  border: 0px;
}
#covid-banner li button:hover {
  font-weight: bold;
  opacity: 0.8;
}
/* End of styles for the covid banner */
