.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

@font-face {font-family: 'iconfont';
  src: url('./fonts/iconfont.eot');
  src: url('./fonts/iconfont.eot?#iefix') format('embedded-opentype'),
  url('./fonts/iconfont.woff') format('woff'),
  url('./fonts/iconfont.ttf') format('truetype'),
  url('./fonts/iconfont.svg#iconfont') format('svg');
}
.iconfont{
  font-family:"iconfont" !important;
  font-size:16px;font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.lf-abnormal-h,
.lf-abnormal-hh {
  color: red;
}
.lf-abnormal-l,
.lf-abnormal-ll {
  color: blue;
}

.flowsheet-app {
  color: black;
}

.lf-app-header {
  border-top: 2px solid #0BACB6;
}

.lf-header {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.lf-logo {
  flex-grow: 0;
}
.lf-logo img {
  float: left;
  margin: 6px 6px;
  border-right: 1px solid #0BACB6;
  padding-right: 6px;
  width: 74px;
  height: 64px;
}
.lf-app-title {
  flex-grow: 0;
  margin: 10px;
}
.lf-app-title a {
  font-size: 250%;
  color: #1E4193;
}

.lf-app-control {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}
.lf-patient {
  flex-grow: 1;
  padding: 8px 4px 2px 4px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
.lf-patient-info {
    display: flex;
    flex-direction: column;
}
.lf-patient-name {
  text-align: right;
  padding: 4px 4px 0 4px;
  font-size: 125%;
  color: #333;
  font-weight: bold;
}
.lf-patient-extra {
  text-align: right;
  padding: 0 2px;
  display: flex;
  justify-content: flex-end;
    font-size: 80%;
}
.lf-patient-field {
  padding: 0 2px;
  color: #333;
}
.lf-patient-btn {
    padding: 2px 4px;
}

.lf-control {
    display: flex;
    justify-content: flex-end;
  flex-grow: 0;
  padding: 0 8px 4px 4px;
}
.lf-control-btn {

}


.lf-option-btn-col {
  text-align: right;
}
.lf-option-btn {
  padding: 2px 4px;
}
.lf-option-btn button {
  padding: 0 8px;
}

#lf-options,
#lf-status,
#lf-data-table {
  border-top: 2px solid #17b4e3;
  padding: 0 4px;
}
.lf-row {
  margin: 8px 4px;
}
.lf-switch-row {
  margin-top: 5px;
}
.lf-button {
  margin: 0 2px;
}

.lf-problem {
  margin-top: -5px;
}

.lf-option {
  display: flex;
  justify-content: flex-end;
  padding-right: 8px;
}
.lf-option-label {
  text-align: left;
  vertical-align: text-bottom;
  flex-grow: 0;
  margin: 5px 15px 0 5px;
  width: 120px;

}
.lf-option-field {
  flex-grow: 1;
  margin-right: 15px;
}

.lf-additional-controls-btn {
  text-align: right;
}

.flowsheet-table .row-level-1.col-name {
  padding-left: 6px;
}
.flowsheet-table .row-level-2.col-name {
  padding-left: 26px;
}
.flowsheet-table .row-level-3.col-name {
  padding-left: 46px;
}
.flowsheet-table .row-level-4.col-name {
  padding-left: 66px;
}
.flowsheet-table .row-level-5.col-name {
  padding-left: 86px;
}
.flowsheet-table .row-level-6.col-name {
  padding-left: 106px;
}


.flowsheet-table .row-type-header {
  background-color: #BADEFF;
}
.flowsheet-table .row-level-1.row-type-header {
  font-weight: bold;
  text-decoration: none;
  background-color:#9CCFFF;
}

.lf-bold {
  font-weight: bold;
  color: #333;
}


.ant-list-item.lf-condition-item{
  border-left: 4px solid #e8e8e8;
  padding-left: 4px;
}
.ant-list-item .lf-item-code {
  font-size: 80%;
}

.flowsheet-table .GridCell {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding: 4px;
  font-size: 16px;
  border-bottom: 1px solid #e8e8e8;
  text-align: center;
}
.flowsheet-table .GridCell:hover {
  overflow: visible;
  z-index: 12;
}
.flowsheet-table .StickyRowColCell {
  padding: 4px;
  font-size: 16px;
  border-bottom: 1px solid #e8e8e8;
}
.flowsheet-table .StickyRowCell {
  padding: 2px;
  font-size: 16px;
  border-bottom: 1px solid #e8e8e8;
  text-align: center;
}
.flowsheet-table .StickyColCell {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding: 4px;
  font-size: 16px;
  border-bottom: 1px solid #e8e8e8;
}
.flowsheet-table .StickyColCell:hover {
  overflow: visible;
  z-index: 12;
}

.flowsheet-table .col-header {
  font-size: 16px;
  padding: 4px;
  font-weight: 500;
  color: rgba(0,0,0, 0.85);

}

/* styles for items in eq class */
/* eq class row */
.flowsheet-table .row-type-eq-class {
  background-color: #f1efea; /*#DAEDFF; rgb(176, 186, 180);*/
}

/* items in eq class */
/* single one (won't appear) */

/* first item */
/* horizontal bar*/
.flowsheet-table .row-multiple-item-in-eq-class.first-item-in-eq-class.col-name:before {
  content: "";
  position: absolute;

  border-top: 2px solid #2f96b4;
  top: 14px;
  width: 4px;
  height: 0;

}
/* vertical bar */
.flowsheet-table .row-multiple-item-in-eq-class.first-item-in-eq-class.col-name:after {
  content: "";
  position: absolute;

  border-left: 2px solid #2f96b4;
  width: 0;
  top: 14px;
  bottom: 0;
}
/* last item */
/* horizontal line*/
.flowsheet-table .row-multiple-item-in-eq-class.last-item-in-eq-class.col-name:before {
  content: "";
  position: absolute;

  border-top: 2px solid #2f96b4;
  width: 4px;
  height: 0;
  bottom: 12px;
}
/* vertical line */
.flowsheet-table .row-multiple-item-in-eq-class.last-item-in-eq-class.col-name:after {
  content: "";
  position: absolute;

  border-left: 2px solid #2f96b4;
  width: 0;
  top: 0;
  bottom: 12px;
}
/* middle items, no horizontal bar */
.flowsheet-table .row-multiple-item-in-eq-class.col-name:after {
  content: "";
  position: absolute;

  border-left: 2px solid #2f96b4;
  width: 0;
  top: 0;
  bottom: 0;
}
/* set left position of different levels*/
.flowsheet-table .row-level-1.row-multiple-item-in-eq-class.col-name:before {
  left: 2;
}
.flowsheet-table .row-level-2.row-multiple-item-in-eq-class.col-name:before {
  left: 22px;
}
.flowsheet-table .row-level-3.row-multiple-item-in-eq-class.col-name:before {
  left: 42px;
}
.flowsheet-table .row-level-4.row-multiple-item-in-eq-class.col-name:before {
  left: 62px;
}
.flowsheet-table .row-level-5.row-multiple-item-in-eq-class.col-name:before {
  left: 82px;
}
.flowsheet-table .row-level-6.row-multiple-item-in-eq-class.col-name:before {
  left: 102px;
}
.flowsheet-table .row-level-1.row-multiple-item-in-eq-class.col-name:after {
  left: 2;
}
.flowsheet-table .row-level-2.row-multiple-item-in-eq-class.col-name:after {
  left: 22px;
}
.flowsheet-table .row-level-3.row-multiple-item-in-eq-class.col-name:after {
  left: 42px;
}
.flowsheet-table .row-level-4.row-multiple-item-in-eq-class.col-name:after {
  left: 62px;
}
.flowsheet-table .row-level-5.row-multiple-item-in-eq-class.col-name:after {
  left: 82px;
}
.flowsheet-table .row-level-6.row-multiple-item-in-eq-class.col-name:after {
  left: 102px;
}
/*!* first item that has a button *!*/
/*.flowsheet-table .first-item-in-eq-class.row-level-1.row-multiple-item-in-eq-class.col-name:before {*/
  /*left: 20px;*/
/*}*/
/*.flowsheet-table .first-item-in-eq-class.row-level-2.row-multiple-item-in-eq-class.col-name:before {*/
  /*left: 32px;*/
/*}*/
/*.flowsheet-table .first-item-in-eq-class.row-level-3.row-multiple-item-in-eq-class.col-name:before {*/
  /*left: 48px;*/
/*}*/
/*.flowsheet-table .first-item-in-eq-class.row-level-4.row-multiple-item-in-eq-class.col-name:before {*/
  /*left: 64px;*/
/*}*/
/*.flowsheet-table .first-item-in-eq-class.row-level-5.row-multiple-item-in-eq-class.col-name:before {*/
  /*left: 80px;*/
/*}*/
/*.flowsheet-table .first-item-in-eq-class.row-level-6.row-multiple-item-in-eq-class.col-name:before {*/
  /*left: 96px;*/
/*}*/
/*.flowsheet-table .first-item-in-eq-class.row-level-1.row-multiple-item-in-eq-class.col-name:after {*/
  /*left: 20px;*/
/*}*/
/*.flowsheet-table .first-item-in-eq-class.row-level-2.row-multiple-item-in-eq-class.col-name:after {*/
  /*left: 32px;*/
/*}*/
/*.flowsheet-table .first-item-in-eq-class.row-level-3.row-multiple-item-in-eq-class.col-name:after {*/
  /*left: 48px;*/
/*}*/
/*.flowsheet-table .first-item-in-eq-class.row-level-4.row-multiple-item-in-eq-class.col-name:after {*/
  /*left: 64px;*/
/*}*/
/*.flowsheet-table .row-level-5.row-multiple-item-in-eq-class.col-name:after {*/
  /*left: 80px;*/
/*}*/
/*.flowsheet-table .row-level-6.row-multiple-item-in-eq-class.col-name:after {*/
  /*left: 96px;*/
/*}*/


/* styles for items in eq class */

.exp-col-button,
.eq-exp-col-button {
  cursor: pointer;
  transition: color .3s ease-in-out,background-color .3s ease-in-out;
}
.exp-col-button:hover {
  /*background-color: #1890ff;*/
  color: #fff;
}
.eq-exp-col-button {
}
.eq-exp-col-button:hover {
  color: #2f96b4
}

/* to do */
.row-multiple-item-in-eq-class.first-item-in-eq-class.col-name .item-name {
  margin-left: -20px;
}
.row-type-eq-class.col-name .item-name {
  margin-left: -20px;
}

/* slider */
.lf-right-date {
  text-align: right;
}

/* spinner */
.lf-spinner {
  position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
  border: #0bacb6 2px solid;
  width: 300px;
  height: 100px;
  border-radius: 8px;
  text-align: center;
  padding-top:20px;
  background-color: #f6ffed;
  z-index: 20;
}