.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}



#lf-header {
  position: relative;
  font-size: 12px;
  font-family: 'Droid Sans',Arial,Helvetica,sans-serif;
  color: #202020;
  border-top: 2px solid #0BACB6;
  border-bottom: 7px solid #17b4e3;
  line-height: normal;
  padding-bottom: 22px;
}

#logo img {
  float: left;
  margin-right: 10px;
  margin-left: 20px;
  border-right: 1px solid #0BACB6;
  padding-right: .75em;
}
#siteNameBox {
  margin-top: 2.2em;
}
#lf-header a {
  color: #1E4193;
  text-decoration: none;
}
#siteName {
  font-size: 300%;
}

#lf-options, 
#lf-data-table {
  border-top: 2px solid #0BACB6;
  border-bottom: 2px solid #17b4e3;
}
.lf-row {
  margin: 8px 4px;
}
.lf-patient-info {
  margin: 0px 4px 0px 8px;
  padding: 2px 0;
}
.lf-patient-name {
  font-size: 120%;
  font-weight: bold;
}
.lf-switch-row {
  margin: 2px 0;
}
.lf-button {
  margin: 0 2px;
}

.flowsheet-table .row-level-1.col-name {
  padding-left: 2px;
}
.flowsheet-table .row-level-2.col-name {
  padding-left: 18px;
}
.flowsheet-table .row-level-3.col-name {
  padding-left: 34px;
}
.flowsheet-table .row-level-4.col-name {
  padding-left: 50px;
}
.flowsheet-table .row-level-5.col-name {
  padding-left: 66px;
}
.flowsheet-table .row-level-6.col-name {
  padding-left: 82px;
}


.flowsheet-table .row-type-header {
  background-color: #73ceed;
}
.flowsheet-table .row-level-1.row-type-header {
  font-weight: bold;
  text-decoration: none;
  background-color:#34b2dd;
}

.lf-bold {
  font-weight: bold;
}


.ant-list-item.lf-condition-item{
  border-left: 4px solid #e8e8e8;
  padding-left: 4px;
}
.ant-list-item .lf-item-code {
  font-size: 80%;
}

.flowsheet-table .GridCell {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding: 2px;
  font-size: 16px;
  border-bottom: 1px solid #e8e8e8;
  text-align: center;
}
.flowsheet-table .GridCell:hover {
  overflow: visible;
  z-index: 12;
}
.flowsheet-table .StickyRowColCell {
  padding: 2px;
  font-size: 16px;
  border-bottom: 1px solid #e8e8e8;
}
.flowsheet-table .StickyRowCell {
  padding: 2px;
  font-size: 16px;
  border-bottom: 1px solid #e8e8e8;
  text-align: center;
}
.flowsheet-table .StickyColCell {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding: 2px;
  font-size: 16px;
  border-bottom: 1px solid #e8e8e8;
}
.flowsheet-table .StickyColCell:hover {
  overflow: visible;
  z-index: 12;
}

.flowsheet-table .col-header {
  font-size: 16px;
  padding: 2px;
  font-weight: 500;
  color: rgba(0,0,0, 0.85);

}

/* styles for items in eq class */
/* eq class row */
.flowsheet-table .row-type-eq-class {
  background-color: #2f96b4; /*rgb(176, 186, 180);*/
}

/* items in eq class */
/* single one (won't appear) */

/* first item */
/* horizontal bar*/
.flowsheet-table .row-multiple-item-in-eq-class.first-item-in-eq-class.col-name:before {
  content: "";
  position: absolute;

  border-top: 2px solid #2f96b4;
  top: 14px;
  width: 6px;
  height: 0;

}
/* vertical bar */
.flowsheet-table .row-multiple-item-in-eq-class.first-item-in-eq-class.col-name:after {
  content: "";
  position: absolute;

  border-left: 2px solid #2f96b4;
  width: 0;
  top: 14px;
  bottom: 0;
}
/* last item */
/* horizontal line*/
.flowsheet-table .row-multiple-item-in-eq-class.last-item-in-eq-class.col-name:before {
  content: "";
  position: absolute;

  border-top: 2px solid #2f96b4;
  top: 14px;
  width: 6px;
  height: 0;
}
/* vertical line */
.flowsheet-table .row-multiple-item-in-eq-class.last-item-in-eq-class.col-name:after {
  content: "";
  position: absolute;

  border-left: 2px solid #2f96b4;
  width: 0;
  top: 0;
  bottom: 14px;
}
/* middle items, no horizontal bar */
.flowsheet-table .row-multiple-item-in-eq-class.col-name:after {
  content: "";
  position: absolute;

  border-left: 2px solid #2f96b4;
  width: 0;
  top: 0;
  bottom: 0;
}
/* set left position of different levels*/
.flowsheet-table .row-level-1.row-multiple-item-in-eq-class.col-name:before {
  left: 0;
}
.flowsheet-table .row-level-2.row-multiple-item-in-eq-class.col-name:before {
  left: 12px;
}
.flowsheet-table .row-level-3.row-multiple-item-in-eq-class.col-name:before {
  left: 28px;
}
.flowsheet-table .row-level-4.row-multiple-item-in-eq-class.col-name:before {
  left: 44px;
}
.flowsheet-table .row-level-5.row-multiple-item-in-eq-class.col-name:before {
  left: 60px;
}
.flowsheet-table .row-level-6.row-multiple-item-in-eq-class.col-name:before {
  left: 76px;
}
.flowsheet-table .row-level-1.row-multiple-item-in-eq-class.col-name:after {
  left: 0;
}
.flowsheet-table .row-level-2.row-multiple-item-in-eq-class.col-name:after {
  left: 12px;
}
.flowsheet-table .row-level-3.row-multiple-item-in-eq-class.col-name:after {
  left: 28px;
}
.flowsheet-table .row-level-4.row-multiple-item-in-eq-class.col-name:after {
  left: 44px;
}
.flowsheet-table .row-level-5.row-multiple-item-in-eq-class.col-name:after {
  left: 60px;
}
.flowsheet-table .row-level-6.row-multiple-item-in-eq-class.col-name:after {
  left: 76px;
}

/* styles for items in eq class */

.exp-col-button {
  cursor: pointer;
}
.exp-col-button:hover {
  ackground-color: #1890ff;
  color: #fff;
}