.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}



#lf-header {
  position: relative;
  font-size: 12px;
  font-family: 'Droid Sans',Arial,Helvetica,sans-serif;
  color: #202020;
  border-top: 2px solid #0BACB6;
  border-bottom: 7px solid #17b4e3;
  line-height: normal;
  padding-bottom: 22px;
}

#logo img {
  float: left;
  margin-right: 10px;
  margin-left: 20px;
  border-right: 1px solid #0BACB6;
  padding-right: .75em;
}
#siteNameBox {
  margin-top: 2.2em;
}
#lf-header a {
  color: #1E4193;
  text-decoration: none;
}
#siteName {
  font-size: 300%;
}

#lf-options, 
#lf-data-table {
  border-top: 2px solid #0BACB6;
  border-bottom: 2px solid #17b4e3;
}
.lf-row {
  margin: 8px 4px;
}
.lf-patient-info {
  margin: 0px 4px 0px 8px;
  padding: 2px 0;
}
.lf-patient-name {
  font-size: 120%;
  font-weight: bold;
}
.lf-switch-row {
  margin: 2px 0;
}
.lf-button {
  margin: 0 2px;
}

.ant-table-fixed .ant-table-row.level-1 td:first-child {
  padding-left: 0;
}
.ant-table-fixed .ant-table-row.level-2 td:first-child {
  padding-left: 8px;
}
.ant-table-fixed .ant-table-row.level-3 td:first-child {
  padding-left: 16px;
}
.ant-table-fixed .ant-table-row.level-4 td:first-child {
  padding-left: 24px;
}
.ant-table-fixed .ant-table-row.level-5 td:first-child {
  padding-left: 32px;
}
.ant-table-fixed .ant-table-row.level-6 td:first-child {
  padding-left: 40px;
}


.ant-table-fixed-left .ant-table-row.type-header,
.ant-table-content .ant-table-row.type-header {
  background-color: #73ceed;
}
.ant-table-fixed-left .ant-table-row.level-1.type-header,
.ant-table-content .ant-table-row.level-1.type-header {
  font-weight: bold;
  text-decoration: none;
  background-color:#34b2dd;
}
.ant-table-fixed-left .ant-table-row.type-eq-class,
.ant-table-content .ant-table-row.type-eq-class {
  background-color: rgb(176, 186, 180);
}


/* .ant-table-wrapper.showClassRow.type-itemInClass {
  display: none;
}
.ant-table-wrapper.hideClassRow.type-classRow {
  display: none;
} */

.ant-table-fixed .ant-table-tbody > tr > td,
.ant-table-fixed .ant-table-thead > tr > th  {
  padding: 2px;
  font-size: 16px;
}
/* .flowsheet-table .ant-table-tbody > tr > td,
.flowsheet-table .ant-table-thead > tr > th  {
  padding: 2px;
  font-size: 16px;
} */

.lf-bold {
  font-weight: bold;
}

/* .type-eq-class.hide-eq-class {
  display: none;
} */

.type-eq-class.has-single-item-in-eq-class {
  display: none;
}
.show-eq-class-item.multiple-item-in-eq-class {
  color: red;
}
.show-eq-class-item.single-item-in-eq-class {
  /* color: blue; */
}

.hide-eq-class-item {
  display: none;
}

/* adjust column headers height of the fixed table. 
   for some reason, the headers in the fixed table and headers in the body table have 1px difference in height
*/
/* .ant-table-thead > tr > th.lf-item-name, 
.ant-table-thead > tr > th.lf-sparkline {
  border-bottom: 0px;
} */

.ant-list-item.lf-condition-item{
  border-left: 4px solid #e8e8e8;
  padding-left: 4px;
}
.ant-list-item .lf-item-code {
  font-size: 80%;
}
